.message {
  position: relative;
  padding: 10px 60px 10px 20px;
  font-size: 12px;
  text-align: left;
  line-height: 1.7;
  color: rgba(0, 0, 0, 0.6);
}

.me {
  background-color: rgba(4, 0, 255, 0.05);
}
.me:nth-child(even) {
  background-color: rgba(4, 0, 255, 0.025);
}

.other {
  background-color: rgba(0, 0, 0, 0.05);
}
.other:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.025);
}

.message__author {
  font-weight: 600;
  margin-right: 10px;
  color: rgba(0, 0, 0, 1);
}

.message__friend {
  font-weight: 600;
  margin-right: 10px;
  color: rgba(28; 18; 167; 0.836);
}
