.bg-modal {
  background: rgba(0, 0, 0, 0.6);
}

.sidebar__main {
  position: absolute;
  background-color: blanchedalmond;
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  right: 0;
  overflow: auto;
  transition: all 0.3s;
  z-index: 1;
}

.sidebar__close {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.show {
  display: block;
}

.circular__square {
  border-radius: 50%;
}
