.bg-modal {
  background: rgba(0, 0, 0, 0.6);
}

.sidebar__main {
  z-index: 1;
  background-color: blanchedalmond;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.sidebar__close {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.show {
  display: block;
}

.circular__square {
  border-radius: 50%;
}
