.custom__modal {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  overflow: auto;
}

.modal__main {
  position: fixed;
  background: white;
  padding: 20px;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
}

.modal__close {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 5px;
}

.sidebar__main {
  z-index: 1;
  background-color: blanchedalmond;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.sidebar__close {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.show {
  display: block;
}

.circular__square {
  border-radius: 50%;
}
