.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  overflow: auto; /* Enable scroll if needed */
}

.modal-main {
  position: fixed;
  background: white;
  padding: 5px;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
}

.sidebar__main {
  background-color: blanchedalmond;
  position: fixed;
  width: 200px;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.sidebar__close {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.display-none {
  display: none;
}

.display-block {
  z-index: 999;
  display: block;
}

.show {
  display: block;
}

.circular__square {
  border-radius: 50%;
}
