.form {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  /* margin: 0 auto; */
  top: 15px;
}

.form__row {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  padding: 20px;
}

.form__input {
  width: 100%;
  padding: 15px 20px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  outline: 0;
}

.form__add {
  position: relative;
}

.form__add .icon {
  position: absolute;
  right: 5px;
  top: 0;
}
.form__add .icon:hover {
  width: 30px;
}

.form__input:focus {
  background-color: rgba(245, 243, 243, 0.5);
}

.form__button {
  padding: 0 30px;
  background-color: rgba(28, 18, 167, 0.836);
  color: #fff;
  border: 0;
  border-radius: 0 5px 5px 0;
  outline: 0;
  cursor: pointer;
}

.form__button:hover {
  font-weight: bold;
  color: black;
}
