.app {
  text-align: center;
}
.app__logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.app__intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
