.paper {
  margin: 50px auto 0;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
}

.avatar {
  margin-left: auto;
  margin-right: auto;
  background-color: #f50057;
}

.form {
  margin-top: 1;
}

.errorText {
  color: #f50057;
  margin-bottom: 5;
  text-align: center;
}

a:hover {
  cursor: pointer;
}
