.selected {
  font-weight: bold;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: relative;
  height: 100vh !important;
  overflow: auto;
}

.sidebar li {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
  color: black;
  text-decoration: none;
}

.sidebar__room {
  display: flex;
}
.sidebar__room .room {
  width: 100%;
}

.section {
  font-weight: bold;
  color: black;
  padding: 0.25rem;
  padding-top: 1rem;
}

.sidebar li.active {
  background-color: rgba(28, 18, 167, 0.685);
  color: white;
}

.sidebar li:hover:not(.active) {
  background-color: #555;
  color: white;
}

#ul_top_hypers * {
  display: inline-block;
}

.no__rooms {
  opacity: 0.5;
  font-size: 13px;
}

.notification {
  position: absolute;
}

.room__title {
  width: 100%;
  padding-left: 10px;
}
