.app__header {
  width: 100%;
  /* color: white; */
  display: flex;
  position: absolute;
  justify-content: center;
}

.header__favorite {
  cursor: pointer;
  padding-right: 5px;
}
.header__favorite .icon:hover {
  width: 20px;
}

.app__profile {
  display: flex;
  justify-content: space-between;
  color: #fff;
  cursor: pointer;
  opacity: 0.8;
  outline: 0;
}

.app__right {
  display: flex;
  float: right;
}

.app__button:hover {
  opacity: 1;
}

.simple__text {
  color: black;
  text-decoration: none;
}

.profile__icon {
  padding: 3px;
}
