.chat__bubble {
  background-color: #bbdefb;
  padding: 20px;
  border-radius: 4px;
  max-width: 300px;
  word-wrap: break-word;
  margin-left: 40px;
  margin-bottom: 5px;
}

.current__user {
  margin-left: auto;
  background-color: #a5d6a7;
}

.chat__profile {
  float: left;
  display: flex;
  align-items: center;
  font-size: 13px;
}
.chat__profile * {
  margin-right: 5px;
}

.chat__time {
  font-size: 12px;
  color: #757575;
  text-align: right;
  float: right;
  position: relative;
  top: 5px;
}

.notification__message {
  text-align: center;
  color: #757575;
}

.image__preview {
  object-fit: cover;
  width: 200px;
  height: 200px;
}
